#abouts>* {
  margin-right: 30px !important;
}

#git-list {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  margin: 0 5px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 8px;
  max-height: 140px;
  width: 80px;
  transition: max-height, ease-in-out, 300ms;
  margin-bottom: -100px;
  border-radius: 4px;

  & h1 {
    visibility: hidden;
    pointer-events: none;
  }

  div {
    padding: 5px 0;

    a {
      text-decoration: none;
      color: black;
    }
  }

  &:hover {
    background: lightgray;
  }

  &:hover h1 {
    visibility: visible;
    overflow: visible;
    margin-top: 10px;
    margin-bottom: 3px;
  }
}

#linkedin-list {
  position: fixed;
  bottom: 5px;
  right: 90px;
  display: flex;
  margin: 0 5px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
  padding-left: 8px;
  max-height: 145px;
  width: 80px;
  transition: max-height, ease-in-out, 300ms;
  margin-bottom: -100px;
  border-radius: 4px;

  & h1 {
    visibility: hidden;
    pointer-events: none;
  }

  div {
    padding: 5px 0;

    a {
      text-decoration: none;
      color: black;
    }
  }

  &:hover {
    background: lightgray;
  }

  &:hover h1 {
    visibility: visible;
    overflow: visible;
    margin-top: 10px;
    margin-bottom: 3px;
  }
}

#linkedin-list:hover {
  max-height: 1000px;
  margin-bottom: -30px;
}

#git-list:hover {
  max-height: 1000px;
  margin-bottom: -30px;
}