.button{
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  background: $secondary-cta;
  cursor: pointer;
}

.disabledButton{
  cursor: auto;
  opacity: .75;
}