html{
  height: 100%;
}
body{
  font-family: $fonts;
  height: 100%;
}

#root{
  height: 100%;
}


button{
  font-family: $fonts;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}