body {
  font-family: $fonts;
  background-image: url(./main_background.png);
  background-size: cover;
}

button {
  font-family: $fonts;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}