html {
  height: 100%;
}
body {
  font-family: $fonts;
  height: 100%;
  background-image: url(./splash_background.png);
  background-size: cover;
}

#root {
  height: 100%;
}

button {
  font-family: $fonts;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}
