.journey {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(45, 153, 76);
  height: 1080px;;
  font-family: $fonts;

  &>h1 {
    margin: 100px 0 50px 0;
    font-size: 36px;
    color: white;
  }

  &>.share {
    margin-top: 30px;
  }
}

.share {
  display: flex;
  justify-content: center;

  & input {
    width: 300;
    font-size: 16px;
    text-align: center;
  }

  & button {
    margin-left: 20px;
    width: auto;
    padding: 1rem;
  }
}

#tooltip {
    position: fixed;
    visibility: visible;
    width: 300px;
    height: auto;
    transition: 0.5s all ease-out;
    transform:scaleY(1);
    transform-origin: top;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    overflow: hidden;

    &>* {
      margin-bottom: 10px;
    }

    &>*:last-child {
      margin-bottom: 0;
    }

    & img {
      width: 100%
    }
}

#tooltip.hidden {
    visibility: hidden;
    transform:scaleY(0);
    border-radius: 50%;
    transform-origin: top;
    transition: visibility 0s 0.3s,all 0.3s;
}