.profile-content {
  display: flex;
  justify-content: space-around;
}

.create {
  background-color: $primary-cta;
  text-decoration: none;
  width: 75%;
  height: 200px;
  margin: 0 auto;
  font-size: 45px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 60px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

  &:active {
    position: relative;
    top: 4px;
    left: 4px;
    box-shadow: none;
  }
}

.create:hover {
  background-color: $primary-cta-highlight;
}

.journey-list {
  width: 45%;
  max-height: 65vh;
  margin-top: 65px;
  margin-left: 30px;
  padding: 25px;
  padding-right: 17px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;

  ul {
    background: rgba(200, 200, 200, 0.2);
    border-radius: 4px;
    height: calc(100% - 140px);
    padding: 15px;
    position: absolute;
    overflow-y: scroll;
    top: 100px;
    left: 20px;
    right: 17px;
  }

  div {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
  }
}

.journey-list-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  a {
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    width: 90%;
    background: $primary-cta;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;

    &:active {
      position: relative;
      top: 4px;
      left: 4px;
      box-shadow: none;
    }

    &:hover {
      background-color: $primary-cta-highlight;
    }
  }

  span:last-child {
    padding-left: 20px;
  }

  & i {
    cursor: pointer;
    color: white;
    margin-left: 5px;
  }
}

.new-journey {
  margin-right: 40px;
  width: 35%;
}

.make-new-journey {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &>a {
    width: 500px;
  }
}

.react-confirm-alert-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 20px;
  width: 300px;
}