.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

<<<<<<< HEAD
.grow {
  max-height: 100vh;
=======
.grow{
  max-height: 1000px;
>>>>>>> a50e12689ffbc01877cd3763ecc87bb4b044bddf
  transition: max-height;
  transition-duration: 1500ms;
}

.half {
  width: 50%;
}

.background {
  background-image: url(./main_background.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
