$primary-cta: #1ABA18; //primary call to action
$primary-cta-highlight: #21e21d;
$secondary-cta: #7f1111;
$secondary-cta-highlight: #951414; //for hover effects
$dark-background-text: #f9f9f4;
$light-background-text: #1f2a30;
$dark-background:  #014668;
$light-background:  #eaf3f7;


$fonts: 'Open Sans', sans-serif 